.blog_categories_area {
    padding-top: 30px;
    padding-bottom: 30px;
    @media (min-width: 900px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (min-width: 1100px) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer;
    img {
        max-width: 100%;
    }
    .categories_details {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: rgba(34, 34, 34, 0.75);
        color: $white;
        transition: all 0.3s linear;
        display: flex;
        align-items: center;
        justify-content: center;
        h5 {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            color: $white;
            position: relative;
        }
        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 0;
        }
        .border_line {
            margin: 10px 0;
            background: $white;
            width: 100%;
            height: 1px;
        }
    }
    &:hover {
        .categories_details {
            background: rgba(56, 74, 235, 0.85);
        }
    }
}

.blog_item {
    margin-bottom: 40px;
}

.blog_info {
    padding-top: 30px;
    .post_tag {
        padding-bottom: 20px;
        a {
            color: $title-color;
            font-size: 14px;
            &.active {
                color: $primary-color;
            }
        }
    }
    .blog_meta {
        li {
            a {
                color: #777777;
                vertical-align: middle;
                padding-bottom: 10px;
                display: inline-block;
                font-size: 14px;
                i {
                    color: $title-color;
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 15px;
                    line-height: 20px;
                    vertical-align: middle;
                }
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

.blog_post {
    img {
        max-width: 100%;
    }
}

.blog_details {
    padding-top: 20px;
    h2 {
        font-size: 24px;
        line-height: 36px;
        color: $title-color;
        font-weight: 600;
        transition: all 0.3s linear;
        &:hover {
            color: $primary-color;
        }
    }
    p {
        margin-bottom: 26px;
    }
}

.button-blog {
    font-size: 14px;
    display: inline-block;
    color: $title-color;
    font-weight: 500;
    padding: 5px 30px;
    background: #f9f9ff;
    border-radius: 0;
    border-color: #eeeeee;
    &:hover {
        background: $primary-color;
        color: $white;
    }
}

.blog_right_side {
    border: 1px solid #eeeeee;
    background: #fafaff;
    padding: 30px;
    .widget_title {
        font-size: 18px;
        line-height: 25px;
        background: $primary-color;
        text-align: center;
        color: $white;
        padding: 8px 0;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .search_widget {
        .input-group {
            .form-control {
                font-size: 14px;
                line-height: 29px;
                border: 0;
                width: 100%;
                font-weight: 300;
                color: $white;
                padding-left: 20px;
                border-radius: 45px;
                z-index: 0;
                background: $white;
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
    .author_widget {
        text-align: center;
        h4 {
            font-size: 18px;
            line-height: 20px;
            color: $title-color;
            margin-bottom: 5px;
            margin-top: 30px;
        }
        p {
            margin-bottom: 0;
        }
        .social_icon {
            padding: 7px 0 15px 0;
            a {
                font-size: 14px;
                color: $title-color;
                transition: all 0.2s linear;
                margin-left: 5px;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .popular_post_widget {
        .post_item {
            .media-body {
                justify-content: center;
                align-self: center;
                padding-left: 20px;
                h3 {
                    font-size: 14px;
                    line-height: 20px;
                    color: $title-color;
                    margin-bottom: 4px;
                    transition: all 0.3s linear;
                    &:hover {
                        color: $primary-color;
                    }
                }
                p {
                    font-size: 12px;
                    line-height: 21px;
                    margin-bottom: 0;
                }
            }
            &+.post_item {
                margin-top: 20px;
            }
        }
    }
    .post_category_widget {
        .cat-list {
            li {
                border-bottom: 2px dotted #eeeeee;
                transition: all 0.3s linear;
                padding-bottom: 12px;
                padding-top: 15px;
                a {
                    font-size: 14px;
                    line-height: 20px;
                    color: #777777;
                    p {
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    border-color: $primary-color;
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .newsletter_widget {
        text-align: center;
        .form-group {
            margin-bottom: 8px;
            .input-group {
                .form-control {
                    font-size: 12px;
                    line-height: 24px;
                    color: red;
                    border-radius: 0;
                    border-left: 0;
                    border-right: 0;
                    border: 1px solid #eeeeee;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
        .input-group-prepend {
            margin-right: -1px;
        }
        .input-group-text {
            background: #ffffff;
            border-radius: 0;
            vertical-align: top;
            font-size: 10px;
            line-height: 36px;
            padding: 0 0 0 15px;
            border: 1px solid #eeeeee;
            border-right: 0;
            i {
                color: #cccccc;
            }
        }
        .btn {
            background: $primary-color;
            color: #ffffff;
            font-size: 12px;
            line-height: 28px;
            display: inline-block;
            font-weight: 500;
            padding: 0 24px 0 24px;
            border-radius: 0;
        }
        .text-bottom {
            font-size: 12px;
        }
    }
    .tag_cloud_widget {
        ul {
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    border: 1px solid #eeeeee;
                    background: #ffffff;
                    padding: 0 13px;
                    margin-bottom: 8px;
                    transition: all 0.3s ease 0s;
                    color: $title-color;
                    font-size: 12px;
                    &:hover {
                        background: $primary-color;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .br {
        width: 100%;
        height: 1px;
        background: rgb(238, 238, 238);
        margin: 30px 0;
    }
}

.instagram_area {
    position: relative;
    .container {
        max-width: 1625px;
    }
    .insta_btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
        .theme_btn {
            background: #ffffff;
            border-radius: 5px;
            padding: 0 45px;
            line-height: 50px;
            color: $title-color;
            font-size: 13px;
            font-weight: 500;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

.instagram_image {
    margin-bottom: -120px;
    @media (max-width: 991px) {
        margin-bottom: 120px;
    }
    @media (max-width: 575px) {
        margin-bottom: 70px;
    }
    a {
        flex: 0 0 16.667%;
        max-width: 16.667%;
        display: block;
        overflow: hidden;
        @media (max-width: 767px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
        }
        @media (max-width: 575px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        img {
            width: 100%;
            transition: all 300ms ease;
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }
}